<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DialIniOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88890A6F1DBC4D00006C2F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88890A8B1DBC4D00006C2F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88890A961DBC4D00006C2F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
